<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
        <link rel="manifest" href="manifest.json">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#5bbad5">
        <meta name="theme-color" content="#ffffff">
        <title>Mizumi</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body class="dashboard">
        <img class="banner" src="banner.png"/>
        <h1 class="title">Mizumi</h1>
        <hr class="spacer">

        <div class="post op">
            <div class="file">
                <div class="file-text">File: 
                    <a href="#" target="_blank">31590681.png</a> (210 KB, 400x400)
                </div>
                <a class="file-thumb" href="31590681.png">
                    <img src="31590681.png" style="height: 250px; width: 250px;">
                </a>
            </div>
            <div class="post-info">
                <input type="checkbox" name="" value="delete"> 
                <span class="subject">Dashboard</span> 
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span>
                <span class="dateTime">09/20/17(Wed)15:17:34</span> 
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534129</a>
                </span>
                <a href="#" class="postMenuBtn" title="Post menu" data-cmd="post-menu">▶</a>
                <div class="back-link">
                    <span>
                        <a href="#" class="back-link-link">&gt;&gt;62534140</a>
                    </span>
                </div>
            </div>
            <blockquote class="post-message">
                Are you doing fine Mizumi?
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span>
                </span>
                <span class="dateTime">09/20/17(Wed)23:18:49</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534140</a>
                </span>
            </div>
            <blockquote class="post-message">
                <a href="#" class="quote-link">&gt;&gt;62534129</a><br>
                <div class="item quote">&gt;Date and time</div>
                <pre class="value">{{date}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:19:05</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534158</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;Uptime</div>
                <pre class="value">{{uptime}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:20:05</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534196</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;Temperature</div>
                <pre class="value">{{temperature}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:22:01</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534197</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;Last 5 SSH logins</div>
                <pre class="value">{{last_ssh}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:22:02</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534242</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;CPU</div>
                <pre class="value">{{cpu}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:25:32</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534248</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;RAM</div>
                <pre class="value">{{ram}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:25:56</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534282</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;Partitions</div>
                <pre class="value">{{partitions}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:26:37</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534297</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;Block devices</div>
                <pre class="value">{{block_devices}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:29:23</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534311</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;USB</div>
                <pre class="value">{{usb}}</pre>
            </blockquote>
        </div>

        <div class="side-arrows">&gt;&gt;</div>
        <div class="post reply">
            <div class="post-info">
                <input type="checkbox" name="" value="delete">
                <span class="name-block">
                    <span class="name">Anonymous</span> 
                </span> 
                <span class="dateTime">09/20/17(Wed)23:34:20</span>
                <span>
                    <a href="#" title="Link to this post">No.</a>
                    <a href="#" title="Reply to this post">62534399</a>
                </span>
            </div>
            <blockquote class="post-message">
                <div class="item quote">&gt;Network</div>
                <pre class="value">{{network}}</pre>
            </blockquote>
        </div>
    </body>
</html>

